.jumbotron {
  padding-top: 3rem;
  background-color: #fa5752f5;
}

#Projects {
  padding-top: 6rem;
  background-color: #fa5752f5;
}

section {
  padding-top: 4rem;
}

.gallery-img{
  width: 100%;
  height: auto;
}

#gallery .row> *{
  padding: 0;
}